@CHARSET "ISO-8859-1";

.panel-footer-custom{
	text-align:right;
	font-size:12px;
}

.brand-icon{
	width:20px;
	height:20px;
	display:inline!important;
}

.last-seen{
	font-size:10px;
}

.heading-style{
	font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
	font-weight:bold;
	margin-left:15px;
}